body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
}

.left {
    text-align:left;
}

.center {
    padding-top: 2cm;
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-profile {
    width: 200px;
    height: 200px;
}

.img-cover {
    height: 300px;
}

