body {
    font-family: sans-serif;
    background-color: rgb(120,125,250);
    margin-top: 75px;
}

.left {
    float: left;
}

.right {
   float:right;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-profile {
    width: 200px;
    height: 200px;
}

.img-cover {
    width: 500px;
    height: 200px;
}


