body {
    font-family: sans-serif;
	background:linear-gradient(-45deg,#6fb98f,#021c1e,#00444f);
	margin: 110px;
}

.marquee{
background-color: rgb(13,231,242);
    width: 119.3%;
    margin-left: -108px;
}
.left {
    float: left;
}

.right {
   float:right;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-profile {
    width: 200px;
    height: 200px;
}

.img-cover {
    width: 500px;
    height: 200px;
}


.img-about {
    width: 100px;
    height: 100px;
} .link{ width:30px; height:30px;} .center {text-align:center;} .background{ background-image: url("background2.jpg")}